In [2]:
import pandas as pd

In [9]:
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [11]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

In [15]:
prop = props[props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.']

In [19]:
merged = pd.merge(prop, contribs, on="calaccess_committee_id")

In [22]:
support = merged[merged.committee_position == 'SUPPORT']

In [23]:
oppose = merged[merged.committee_position == 'OPPOSE']

## Which committees have raised the most money?

To reformat data as a pretty DataFrame, use the reset_index method:

In [32]:
merged.groupby("committee_name_x").amount.sum().reset_index().sort_values("amount", ascending=False)

                                     committee_name_x       amount
10  YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...  15734047.00
4        FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))   6140000.00
3   DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...   4470000.00
7                              NEW APPROACH PAC (MPO)   3865000.00
9   SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...   1364000.00
8   PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...   1130930.00
1   CALIFORNIANS FOR RESPONSIBLE MARIJUANA REFORM,...    860470.00
2   CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...    850000.00
5   MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64    739200.00
0          ADULT USE CAMPAIGN FOR PROPOSITION 64; THE     17089.00
6                         MOMS STRONG AGAINST PROP 64      6281.64

In [33]:
merged.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False)

,contributor_firstname,contributor_lastname,committee_position,amount
483,SEAN,PARKER AND AFFILIATED ENTITIES,SUPPORT,7250000.0
482,SEAN,PARKER,SUPPORT,1500000.0
281,JULIE,SCHAUER,OPPOSE,1364000.0
108,DANIEL,LEWIS,SUPPORT,1250000.0
194,HENRY,VAN AMERINGEN,SUPPORT,1000000.0
405,NICHOLAS,PRITZKER,SUPPORT,900000.0
421,PETER,THIEL,SUPPORT,300000.0
456,ROGER,JENKINS,SUPPORT,75000.0
23,ANGELA,HOWARD,SUPPORT,65000.0
322,LAWRENCE,HESS,SUPPORT,30000.0
221,JASON,POST,SUPPORT,10000.0
460,ROGER B.,MCNAMEE,SUPPORT,10000.0
548,ZACHARY PYM,WILLIAMS,SUPPORT,10000.0
239,JEREMY,ZACHARY,SUPPORT,7500.0
440,ROBERT,ADAMS,OPPOSE,6500.0
320,LAURIE,BENENSON,SUPPORT,5000.0
63,CAMILLA,FIELD,SUPPORT,5000.0
375,MICHAEL,DEAN,OPPOSE,5000.0
361,MARY QUINN,DELANEY,SUPPORT,5000.0
488,SHARON K.,CHRISTIE,SUPPORT,5000.0
515,TERRY,TURNER,SUPPORT,3664.0
301,KHURSHID,KHOJA,SUPPORT,3300.0
277,JULI,CROCKETT,SUPPORT,3000.0
149,DOUG,LANPHERE,SUPPORT,2920.0
76,CHARLES,ROVEN,SUPPORT,2500.0
158,EMILY,PAXHIA,SUPPORT,2500.0
414,PATRICK,MCMANAMON,SUPPORT,2500.0
507,STEVEN,PERSKY,SUPPORT,2500.0
382,MICHAEL,STEINMETZ,SUPPORT,2500.0
377,MICHAEL,KLEIN,SUPPORT,2500.0
...,...,...,...,...
75,CHARLES,LOVE,SUPPORT,100.0
191,GRETCHEN,BERGMAN,SUPPORT,84.0
387,MICHELLE,WOLFF,SUPPORT,84.0
385,MICHELLE,SEXTON,SUPPORT,84.0
189,GREG,SMITH,SUPPORT,75.0
389,MIKE,BARNETT,SUPPORT,50.0
534,WENDY,COLTON,SUPPORT,50.0
168,ETHAN,BROOKES,SUPPORT,50.0
85,CHRISTINE A.,PORTER,SUPPORT,50.0
459,ROGER,TOWER,SUPPORT,50.0
492,SKIP,ROACHE,SUPPORT,50.0
335,LJUBOMIR,BUTUROVIC,SUPPORT,50.0
418,PETER,KIRSCH,SUPPORT,50.0
326,LEONARD,KAUFMANN,SUPPORT,50.0
104,DANA,HIRSCH,SUPPORT,50.0
105,DANIEL,DODSON,SUPPORT,50.0
125,DAVID,MURRAY,SUPPORT,50.0
272,JOSH,KLEYMEYER,SUPPORT,42.0
51,BRIAN,MITCHELL,SUPPORT,35.0
533,WAYNE,SCHERER,SUPPORT,30.0
448,ROBERT,LOCKART,SUPPORT,25.0
185,GEORGE,OKEEFE,SUPPORT,25.0
510,SUE ANN,LORIG,SUPPORT,25.0
355,MARK,SLABAUGH,SUPPORT,25.0
540,WILLIAM,SANTSCHI,SUPPORT,25.0
430,RICH,GOLDBERG,SUPPORT,25.0
358,MARSTON,MEDLOCK,SUPPORT,0.0
497,STEPHANIE,WARREN-SAMARIPA,SUPPORT,0.0
16,AMIRGHASEM,SAMIMI-ARDESTAN,SUPPORT,0.0
136,DAVID,WOOD,SUPPORT,0.0

## What percentage of donations came from people who live outside of California?

In [35]:
out_of_state = merged[merged.contributor_state != 'CA']

In [37]:
in_state = merged[merged.contributor_state == 'CA']

Check out top ten biggest out of state donors

In [39]:
out_of_state.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

    contributor_firstname contributor_lastname committee_position     amount
28                 DANIEL                LEWIS            SUPPORT  1250000.0
61                  JULIE              SCHAUER             OPPOSE  1214000.0
44                  HENRY        VAN AMERINGEN            SUPPORT  1000000.0
100             THOMAS J.               REIMAN            SUPPORT     2500.0
83                PATRICK            MCMANAMON            SUPPORT     2500.0
65                KRISTIN               LOONEY            SUPPORT     2000.0
51                JEFFREY               ZUCKER            SUPPORT     1250.0
89                RICHARD              KIMBALL            SUPPORT     1100.0
8                   ANTON              ALBRAND            SUPPORT     1100.0
84                PATRICK                  REA            SUPPORT     1100.0

In [52]:
'{:.2%}'.format(out_of_state.amount.sum()/merged.amount.sum())

'50.28%'

## What are the top employers of donors who gave for and against the measure?

In [66]:
support.groupby(["contributor_employer"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

          contributor_employer     amount
322     SEAN PARKER FOUNDATION  1250000.0
294                    RETIRED   502300.0
351  TAO CAPITAL PARTNERS, LLC   450000.0
350   TAO CAPITAL PARTNERS LLC   450000.0
361         THIEL CAPITAL, LLC   300000.0
321   SEAN N PARKER FOUNDATION   250000.0
268                       NONE    86927.0
115                   DESIGNER    65000.0
216       LEHBROS LIMITED, LLC    30000.0
95         CONDE NAST TRAVELER    10000.0

In [67]:
oppose.groupby(["contributor_employer"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

   contributor_employer  amount
17                   CS  6500.0
18                  CSI  5000.0
4     BOSTON SCIENTIFIC  1550.0
23                 NONE  1500.0
25              RETIRED  1371.0
22                  NON  1000.0
19     GLOBALWIDE MEDIA  1000.0
29                SFWKC   817.0
30  STATE OF CALIFORNIA   730.0
20            LA COUNTY   500.0

## Which committee had the fewest donors?

In [84]:
merged.groupby(["committee_name_x", "calaccess_filing_id"]).contributor_lastname.agg('count').reset_index().sort_values("contributor_lastname").head(10)

,committee_name_x,calaccess_filing_id,contributor_lastname
25,NEW APPROACH PAC (MPO),2083758,1
8,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",1982136,1
9,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",2082735,1
24,NEW APPROACH PAC (MPO),2063087,1
27,NEW APPROACH PAC (MPO),2131129,1
15,"MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64",1998126,1
34,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",2083142,2
12,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),2057298,2
13,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),2082414,2
1,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2098758,3